:root {
    --main-color : #2196f3 ;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Work Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .containar {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .containar {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .containar {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .containar {
      width: 1170px;
    }
    
  }
  .main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 25px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    font-weight: bold;
  }
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.3s;
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
}
/* 
  /////////// start header /////  */
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  @media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      header .logo {
       margin-bottom: 20px;
      }
      .links li {

        position: relative;
        left: -20px;
        
      }
  }

  header .logo {
    color: #1787e0;
    font-size: 25px;
    font-weight: bold;
  }

  .links  {
    display: flex;
  }
  .links li  {
    margin-left: 10px;
    padding: 3px;
    margin-inline: 5px;
    transition: 0.3s;
    border-bottom: 1px solid #1787e0;
  }
  .links li:hover {
    background-color: #1787e0;
    color: white;
    border-radius:8px ;
  }
  .main-header{
    position: absolute;
    background-color: #056abd;
    transform: translateY(-500px);
  }
  .open {
    transform: translateY(200px);
  }
  /* /////////// End header /////  */
  /* /////////// start landing //////////  */
  .landing {
background-color: #eee;
height: 90vh;
  }
  .lan-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
    flex-wrap: wrap;
  }
  @media (max-width : 768px) {
    .lan-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .lan-content img {
       display: none;
        }
        .landing-cont {
           text-align: center;
           width: fit-content;
          }
          .landing-cont h3 {
            font-size: 50px;
          }
          .landing-cont p {
            color: #1787e0;
          }
  }
  @media (min-width :768px) {
    .landing-cont {
        margin-top: 100px;
        width: 520px;
      }
  }
  .landing-cont {
    margin-top: 100px;
  }
  .landing-cont h3 {
    font-size: 30px;
  }
  .landing-cont p {
    font-size: 25px;
    line-height: 35px;
    color: gray;
  }
  .lan-content img {
  width: 600px;
  }
  /* /////////// End  landing //////////  */
  /* //////////// start articles //////////////  */
    .articles {
        padding: 70px 0;
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .boxes .box{
      width: 265px;
      height: 405px;
      background-color: #eee;
      border-radius: 8px;
      transition: 0.5s;
    }
    .articles .boxes .box:hover{
       margin-top: -10px;
       box-shadow: 0 3px 0 rgb(55, 55, 55) ;
      }
    @media (max-width :768px) {
        .boxes .box{
            width: 330px;
            height: fit-content;
            background-color: #eee;
          }
          .art-cont {
            padding-bottom: 20px;
        }
    }
    .boxes .box .background1 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-01.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background2 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-02.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background3 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-03.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background4 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-04.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background5 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-05.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background6 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-06.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background7 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-07.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background8 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-08.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box h4 {
        padding: 20px;
        font-size: 25px;
    }
    .boxes .box p {
        /* margin-left: 20px; */
        padding: 10px;
        padding-left: 20px;
        line-height: 25px;
        color: gray;
        margin-bottom: 25px;
        width: 100%;
        border-bottom: 1px solid black;
        
    }
    .art-cont {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        margin-bottom: 5px;
        color: #1787e0;
    }
    .art-cont span {
        font-weight: bold;
    }
 
  /* //////////// End articles //////////////  */

  /* ///////////// start gallery /////  */
  .gallery {
    background-color: #eee;
    padding: 70px 0;
  }
    .gallery  .boxes .box1{
    width: 335px;
    height: 335px;
      background-color: white;
    border-radius: 8px;
    transition: 0.5s;
   
  }

  .gallery .boxes {
    gap: 30px;
    border-radius: -1px;
    padding-bottom: 50px;
  }
 .gallery .boxes .box1 .background img{
    width: 100%;
    height: 100%;
    padding: 15px;
    transition: 0.3s;
 }
 .gallery .boxes .box1 .background img:hover{
  transform:rotate(1deg);
 }
 
  /* ///////////// End gallery /////  */
  /* //////////////// start testimonials /////////////  */
    .testi {
      padding: 70px 0;
    }
    .testi .boxes {
      gap: 40px;

    }
    .testi .boxes .box2 {
      background-color: #eee;
      width: 350px;
      height: 250px;
      position: relative;
      border-radius: 8px;
    }
    @media (max-width :768px) {
      .boxes .box2{
          width: 330px;
          height: fit-content;
          background-color: #eee;
        }
  }
  .testi .boxes .box2 img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    right: 0;
    top: -60px;
  }
  .testi .boxes .box2 .test-cont {
    padding: 25px;
  }
  .testi .boxes .box2 .test-cont h4 {
    color: #1787e0;
    font-size: 22px;
    margin-bottom: 8px;
  }
  .testi .boxes .box2 .test-cont span {
    color: gray;
    font-size: 18px;
  }
  .testi .boxes .box2 .test-cont .stars {
    font-size: 15px;
    margin: 8px 0;
  }
  .testi .boxes .box2 .test-cont .stars .filled {
    color: orange ;
  }
  .testi .boxes .box2 .test-cont p {
    color: gray;
    font-size: 19px;
    line-height: 28px;
  }
  /* //////////////// start testimonials /////////////  */
  /* /////////// start team members ////////////  */
  .team-members{
    padding: 70px 0;
    background-color: #eee;
  }
  .team-members .boxes {
    gap: 30px 70px; 
  }
  .team-members .boxes .box3 {
    background-color: white;
    width: 310px;
    height: 400px;
    position: relative;
    border-radius: 8px;
  }
  @media (max-width :768px) {
    .boxes .box3{
        width: 280px;
        height: fit-content;
        background-color: #eee;
        position: relative;
        right: -8px;
      }
      .team-members .boxes .box3 img {
        position: absolute;
        width: 270px;
        height: 20px;
        border-radius: 8px;
        left: -30px;
        top: 30px;
        transition: 0.3s;
        /* display: none; */
      }
}
.team-members .boxes .box3 img {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 8px;
  left: -20px;
  top: 30px;
  transition: 0.3s;
  /* display: none; */
}
.team-members .boxes .box3 img:hover {
  filter: sepia(100%);
}
.team-members ul li {
  padding: 15px;
  width: fit-content;
  color: gray;
  position: relative;
  left: 262px;
  top: 100px;
  transition: 0.3s;
}
.team-members ul li:hover {
  color: #1787e0;
}
.team-members .team-cont {
position: relative;
padding: 20px;
top: 100px;
}
.team-members .team-cont h4 {
  font-size: 23px;
  color: #1787e0;
  margin-top: 15px;
}
.team-members .team-cont p {
  margin: 8px 0;
  color: gray;
  font-size: 18px;
}
  /* /////////// start team members ////////////  */
  /* ///////////// start services //////////  */
  .services {
    padding: 70px 0;
  }
  .services .boxes {
    gap: 40px;
  }
  .services .boxes .box2 {
    background-color: #eee;
    width: 350px;
    height: 250px;
    position: relative;
    box-shadow: 0 5px 5px gray;
    transition: 0.3s;
  }
  .services .boxes .box2:hover {
    margin-top: -10px;
  }
  .serv-cont {
    text-align: center;
    margin-top: 50px;
  }
 .serv-cont i {
  font-size: 80px;
  color: gray;
 }
 .serv-cont h4 {
  color: #1787e0;
  margin: 10px;
  font-size: 30px;
 }
 .serv-foot {
  display: flex;
  justify-content: space-between;
 
  margin-top: 27px;
  background-color: #faf8f8;
 }
 .serv-foot span {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  background-color: #1787e0;
  width: 100px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 }
 .serv-foot p {
 padding: 13px;
 font-size: 18px;
  color: #1787e0;
 }
 .serv-foot span:after{
  position: absolute;
  content: '';
  width: 60px;
  height: 50px;
  background-color: rgb(184, 184, 184);
  top: 0;
  left: 80px;
  transform: skewX(-30deg);
 }
  /* ///////////// end services //////////  */

  /* //////////// start skills ///////////  */
 .skills {
  padding: 70px 0;
  background-color: #eee;
 }
 @media (max-width :768px) {
  .skill-cont img {
    display: none;
  }
 }
 .skill-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
 }
 .progres {
  width: 600px;
  height: 30px;
  background-color: white;
  margin: 20px 0;
 }
 .progres span {
  display: block;
  background-color: #1787e0;
  height: 100%;
  position: relative;
 }
 .progres span::after {
  content: attr(data-progress);
  position: absolute;
  color: #1787e0;
  background-color: white;
  border: 1px solid #1787e0;
  padding: 3px;
  border-radius: 8px;
  right: -20px;
  top: -35px;
  }
  .progres span::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid  #1787e0;
  }
 @media (max-width :768px) {
  .progres {
    width: 290px;
    height: 30px;
    background-color: white;
    margin: 20px 0;
   }
 }
  /* //////////// end skills ///////////  */
  /* /////////////// start how it works //////////  */
  .works {
    padding: 70px 0;
  }
  .work-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .work-cont .images img {
    padding: 25px;
    width: 450px;
    height: 450px;
    position: relative;
    left: 30px;
    top: 30px;
  }

  .wor-box {
    display: flex;
    background-color: #f3f1f1;
    width: 570px;
    margin-bottom: 25px;
    position: relative;
    left: 50px;
    border-radius: 8px;
    border: 2px solid #e1e0e0;
  }
  @media (max-width :768px) {
    .work-cont .images img {
      width: 300px;
      height: 300px;
      text-align: center;
      margin-left: 20px;
    }

    .wor-box {
      width: 330px;
      height: fit-content;
      left: 12px;
      display: flex;
      flex-direction: column;
      text-align: center;

    }
    .w-cont{
      margin-top: -50px;
    }
  }
  .wor-box .img img {
    width: 60px;
    height: 60px;
    margin: 55px 25px;
  }
  .w-cont{
    padding: 20px;
  }
  .w-cont h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .w-cont p {
    color: gray;
    line-height: 30px;
  }
  /* /////////////// End how it works //////////  */
  /* //////////// start events ///////////  */
  .events {
    padding: 70px 0;
    background-color: #eee;
  }
  .event-cont {
    display: flex;
  }
  .event-cont .images img {
    width: 400px;
    height: 400px;
    margin-left: 20px;
  }
  @media (max-width :768px) {
    .event-cont .images img {
      display: none;
    }
  }
  .even-cont {
    text-align: center;
  }
  .even-cont .e-con {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  @media (max-width : 786px) {
    .even-cont .e-con {
      display: flex;
      gap: 3px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
  }
  .even-cont .e-con .e-box {
    width: 80px;
    border: 1px solid #bcbcbc;
    height: 120px;
    border-radius: 8px;
    transition: 0.2s;
    margin-bottom: 30px;
  }
  .even-cont .e-con .e-box:hover{
    border: 1px solid #1787e0;
  }
  .even-cont .e-con .e-box span {
    font-size: 35px;
    font-weight: bold;
    color: #1787e0;
    padding-bottom: 18px;
  }
  .even-cont .e-con .e-box p {
    border-top: 1px solid black;
   padding: 10px;
   margin-top: 5px;
  }
  .even-cont h4 {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .even-cont .lor {
    color: gray;
    font-size: 22px;
    line-height: 28px;
  }
  .event-subs {
    width: 550px;
    height: 100px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    border-radius: 50px;
  }
  .event-subs input {
    border: none;
    background-color: #eee;
    height: 55px;
    width: 310px;
    position: relative;
    left: -30px;
    border-radius: 50px;
    padding: 15px;
    outline: none;
  }
  .event-subs button {
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-weight: bold;
    color: white;
    background-color: #1787e0;
    width: 120px;
  }
  @media (max-width :768px) {
    .event-subs {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 25px;
      width: 320px;
      margin: 30px 0;
      height: fit-content;
    }
    .event-subs input {
      border: none;
      background-color: #eee;
      height: 55px;
      width: 250px;
      position: relative;
      left: 2px;
      border-radius: 50px;
      padding: 15px;
      margin-top: 20px;
      outline: none;
    }
    .event-subs button {
      outline: none;
      border: none;
      border-radius: 50px;
      padding: 15px;
      font-weight: bold;
      color: white;
      background-color: #1787e0;
      width: 250px;
      margin: 15px 0;
    }
  }
  /* //////////// end events ///////////  */
  /* ////////////// start pricing ///////////  */
    .pricing {
      padding: 70px 0;
    }
    .boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 25px;
  }
  .boxes .box4{
    width: 350px;
    height: 740px;
    background-color: #eee;
    border-radius: 8px;
    transition: 0.5s;
    text-align: center;
  }
  @media (max-width :768px) {
    .boxes .box4 {
      height: fit-content;
    }
  }
  .boxes .box4 h4 {
    font-size: 23px;
    padding: 20px 0;
  }
  .boxes .box4 img {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .boxes .box4 .price {
    color: #1787e0;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .boxes .box4 .when {
    color: gray;
    margin-bottom: 20px;
  }
  .pric-cont {
    text-align: left;
    display: flex;
    padding: 20px;
    border-top: 1px solid #ddd;

  }
  .pric-cont p {
    margin-left: 10px;
  }
  .pric-cont i {
    color: #1787e0;
    font-size: 18px;
  }
  .boxes .box4 button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: white;
    font-size: 18px;
    color: #1787e0;
    border: 1px solid #1787e0;
    border-radius: 8px ;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .boxes .box4 button:hover {
    color: white;
    background-color: #1787e0;
  }
  .boxes .box5{
    width: 350px;
    height: 740px;
    background-color: #eee;
    border-radius: 8px;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }
  .boxes .box5::after {
    content: attr(advanced);
    position: absolute;
    background-color: #1787e0;
    color: white;
    padding: 8px;
    width: 130px;
    font-weight: bold;
    transform: rotate(90deg);
    top: 56PX;
  }
  .boxes .box5::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    left: 285px;
    top: 96px;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #eee;
    border-left: 30px solid transparent;
    z-index: 1;
}
  
  @media (max-width :768px) {
    .boxes .box5 {
      height: fit-content;
      margin-bottom: 0;
    }
  }
  .boxes .box5 h4 {
    font-size: 23px;
    padding: 20px 0;
  }
  .boxes .box5 img {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .boxes .box5 .price {
    color: #1787e0;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .boxes .box5 .when {
    color: gray;
    margin-bottom: 20px;
  }
  .boxes .box5 button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: white;
    font-size: 18px;
    color: #1787e0;
    border: 1px solid #1787e0;
    border-radius: 8px ;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .boxes .box5 button:hover {
    color: white;
    background-color: #1787e0;
  }
  /* //////////// end pricing /////////////  */
  /* /////////// start top videos ////////////  */
  .vedios {
    padding: 70px 0;
    background-color: #eee;
  }
  .vid {
    background-color: #ffffff;
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(165, 165, 165);
  }
  .vid .images {
    background-color: #bcbcbc;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .vid img {
    width: 100%;
    position: relative;
    
  }
  .vid .images div {
    width: 100%;
    background-color: white;
    padding: 20px;
  }
  @media (max-width :768px) {
    .vid {
      display: flex;
      flex-direction: column;
      height: fit-content;
    }
    
    .vid img {
      position: relative;
      right: 0;
      width: 100%;
      margin-bottom: 15px;
    }
    
    .vid .vid-cont {
      width: 100%;
    }
    .vid-head {
      width: 100%;
    }
  }
  .vid-head {
    background-color: #d8d8d8;
    min-width: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .vid-box {
    padding: 20px;
    border-top: 1px solid gray;
    transition: 0.3s;
  }
  .vid-box:hover {
    background-color: #eee;
  }
  .vid-box p {
    margin-bottom: 9.8px;
  }
  .vid-box span {
    color: gray;
  }
  /* /////////// end top videos ////////////  */
  /* ////////// start awesome stats /////////  */
  .awesome {
    padding: 70px;
    background-image: url(../images/cat-04.jpg);
    background-size: cover;
    position: relative;

  }
  .awesome::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.868);
    left: 0;
    top: 0;
    
  }
  .title h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    z-index: 9999;
    color: black;
    position: relative;
  }
  .boxes .box6{
    width: 250px;
    height: 200px;
    background-color: #ffffff;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  @media (max-width :768px) {
    .boxes .box6 {
      height: fit-content;
      background-color: #eee;
      transition: 0.5s;
      text-align: center;
    }
  }
  @media (max-width :768px) {
    .awesome h3 {
      font-size: 24px;
    }
  }
  .boxes .box6 i {
    margin: 10px 0 ;
    font-size: 40px;
  }
  .boxes .box6 h4 {
    font-size: 45px;
  }
  .boxes .box6 p {
    margin: 15px 0;
    color: #1787e0;
    font-weight: bold;
    font-size: 25px;
  }
  /* ///////////////////// end awesome stats //////////////  */
  /* ////////////// start discount //////  */
  .discount {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  .discount .d-1{
    padding: 70px 0;
    width: 50%;
    height: 100vh;
    background-color: #1787e0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .discount .d-1 h3 {
    font-size: 32px;
    color: white;
    margin-bottom: 30px;
  }
  .discount .d-1 p {
    text-align: center;
    padding: 30px;
    width: 400px;
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
  .discount .d-1 img {
    width: 300px;
    height: 300px;
  }
  .discount .d-2{
    width: 50%;
    height: 100vh;
    padding: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .discount .d-2 h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  @media (max-width : 768px ) {
    .discount .d-2 h3 {
      font-size: 26px;
    }
  }
  .discount .d-2 input {
    width: 300px;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    margin: 15px 0;
    height: 40px ;
    padding: 15px;
    border-bottom: 1px solid gray;
  }
  .discount .d-2  .tall {
    width: 300px;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    margin: 15px 0;
    height: 200px ;
    border-bottom: 1px solid gray;
  }
  .discount .d-2 .but{
    width: 300px;
    border: none;
    outline: none;
    background-color: #1787e0;
    margin: 15px 0;
    height: 50px ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
  }
  .discount .d-2 .but:hover {
    background-color: #056abd;
  }
  @media (max-width : 992px) {
    .discount {
      height: fit-content;
    }
    .discount .d-1{
      width: 100%;
      background-color: #1787e0;
      height: fit-content;
    }
    .discount .d-2{
      width: 100%;
      height: fit-content;
    }
  }
    /* ////////////// end discount //////  */
    /* //////////// start footer //////////  */
    .footer{
      background-color: black;
      color: white;
      width: 100%;
      height: fit-content;
      padding: 70px 0;
    }
    .footer   .boxes .box7{
      width: 260px;
      height: fit-content;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      color: gray;
    }
    .footer   .boxes .box7 .foot-url {
      text-align: left;
      
    }
    .footer   .boxes .box7 .foot-url h4{
      font-size: 35px;
      margin-bottom: 15px;
      color: white;
    }
    .footer   .boxes .box7 .foot-url i {
      color: #eee;
      padding: 20px;
      font-size: 25px;
      margin-left: 5px;
      background-color: gray;
      transition: 0.3s;
      margin-bottom: 15px;
    }
    .footer   .boxes .box7 .foot-url i:hover {
      background-color: #056abd;
    }
    .footer   .boxes .box7 .foot-url p{
      font-size: 20px;
      line-height: 30px;
    }
    .footer   .boxes .box7 .links  {
      font-weight: bold;
      font-size: 17px;
      font-weight: normal;
      padding: 15px;
      transition: 0.3s;
      position: relative;
    }
    .footer   .boxes .box7 .links::after {
      content: '';
      position: absolute;
      width: 180px;
      height: 1px;
      left: 14px;
      top: 50px;
      background-color: gray;
    }
    .footer   .boxes .box7 .links:hover {
      margin-left: 15px;
      color: white;
    }
    .footer   .boxes .box7 .links span {
      font-weight: bold;
      color: #056abd;
      font-size: 20px;
      margin-right: 15px;
    }
    .location {
      display: flex;
      margin-bottom: 20px;
      
    }
    .location i {
      font-size: 30px;
      color: #056abd;
      margin-top: 10px;
      text-align: left;
    }
    .location p {
      font-size: 15px;
      margin-bottom:15px ;
    }
    .locationn {
      display: flex;
      margin-bottom: 20px;
      position: relative;
      left: -50px;
    }
    .locationn i {
      font-size: 30px;
      color: #056abd;
      margin-top: 10px;
      text-align: left;
    }
    .locationn p {
      font-size: 15px;
      margin-bottom:15px ;
    }
    .boxes .box7 .photos {
      display: flex;
      flex-wrap: wrap;
      margin-left: 15px;
    }
    .boxes .box7 .picture {
      width: 70px;
      height: 70px;
      background-color: white;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .boxes .box7 .picture img{
      width: 70px;
      height: 70px;
      padding: 2px;
    }
    @media (max-width :768px) {
      .boxes .box7 {
        height: fit-content;
        transition: 0.5s;
        text-align: center;
      }
      .footer   .boxes .box7 .foot-url {
        text-align: center;
      }
      .location {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .location i {
        margin-bottom: 10px;
      }
      .locationn i {
        margin-bottom: 10px;
      }
      .locationn {
        display: flex;
        flex-direction: column;
        text-align: center;
        left: 0;
      }
    }
    /* //////////// end footer //////////  */