:root {
    --main-color : #2196f3 ;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Work Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .containar {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .containar {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .containar {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .containar {
      width: 1170px;
    }
    
  }
  .main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 25px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    font-weight: bold;
  }
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.3s;
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
    }
}
/* 
  /////////// start header /////  */
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  @media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      header .logo {
       margin-bottom: 20px;
      }
      .links li {

        position: relative;
        left: -15px;
        
      }
  }
  header .logo {
    color: #1787e0;
    font-size: 25px;
    font-weight: bold;
  }

  .links  {
    display: flex;
  }
  .links li  {
    margin-left: 10px;
    padding: 3px;
    margin-inline: 5px;
    transition: 0.3s;
    border-bottom: 1px solid #1787e0;
  }
  .links li:hover {
    background-color: #1787e0;
    color: white;
    border-radius:8px ;
  }
  /* /////////// End header /////  */
  /* /////////// start landing //////////  */
  .landing {
background-color: #eee;
height: 90vh;
  }
  .lan-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
    flex-wrap: wrap;
  }
  @media (max-width : 768px) {
    .lan-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .lan-content img {
       display: none;
        }
        .landing-cont {
           text-align: center;
           width: fit-content;
          }
          .landing-cont h3 {
            font-size: 50px;
          }
          .landing-cont p {
            color: #1787e0;
          }
  }
  @media (min-width :768px) {
    .landing-cont {
        margin-top: 100px;
        width: 520px;
      }
  }
  .landing-cont {
    margin-top: 100px;
  }
  .landing-cont h3 {
    font-size: 30px;
  }
  .landing-cont p {
    font-size: 25px;
    line-height: 35px;
    color: gray;
  }
  .lan-content img {
  width: 600px;
  }
  /* /////////// End  landing //////////  */
  /* //////////// start articles //////////////  */
    .articles {
        padding: 70px 0;
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .boxes .box{
      width: 265px;
      height: 405px;
      background-color: #eee;
      border-radius: 8px;
      transition: 0.5s;

    }
    .articles .boxes .box:hover{
       margin-top: -10px;
       box-shadow: 0 3px 0 rgb(55, 55, 55) ;
      }
    @media (max-width :768px) {
        .boxes .box{
            width: 330px;
            height: fit-content;
            background-color: #eee;
          }
          .art-cont {
            padding-bottom: 20px;
        }
    }
    .boxes .box .background1 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-01.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background2 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-02.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background3 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-03.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background4 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-04.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background5 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-05.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background6 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-06.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background7 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-07.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box .background8 {
        width: 100%;
        height: 180px;
        background-image: url(../images/cat-08.jpg);
        background-size: cover;
        border-radius: 8px;
    }
    .boxes .box h4 {
        padding: 20px;
        font-size: 25px;
    }
    .boxes .box p {
        /* margin-left: 20px; */
        padding: 10px;
        padding-left: 20px;
        line-height: 25px;
        color: gray;
        margin-bottom: 25px;
        width: 100%;
        border-bottom: 1px solid black;
        
    }
    .art-cont {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        margin-bottom: 5px;
        color: #1787e0;
    }
    .art-cont span {
        font-weight: bold;
    }
 
  /* //////////// End articles //////////////  */

  /* ///////////// start gallery /////  */
  .gallery {
    background-color: #eee;
    padding: 70px 0;
  }
    .gallery  .boxes .box1{
    width: 335px;
    height: 335px;
      background-color: white;
    border-radius: 8px;
    transition: 0.5s;
   
  }

  .gallery .boxes {
    gap: 30px;
    border-radius: -1px;
    padding-bottom: 50px;
  }
 .gallery .boxes .box1 .background img{
    width: 100%;
    height: 100%;
    padding: 15px;
    transition: 0.3s;
 }
 .gallery .boxes .box1 .background img:hover{
  transform:rotate(1deg);
 }
 
  /* ///////////// End gallery /////  */
  /* //////////////// start testimonials /////////////  */
    .testi {
      padding: 70px 0;
    }
    .testi .boxes {
      gap: 40px;

    }
    .testi .boxes .box2 {
      background-color: #eee;
      width: 350px;
      height: 250px;
      position: relative;
      border-radius: 8px;
    }
    @media (max-width :768px) {
      .boxes .box2{
          width: 330px;
          height: fit-content;
          background-color: #eee;
        }
  }
  .testi .boxes .box2 img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    right: 0;
    top: -60px;
  }
  .testi .boxes .box2 .test-cont {
    padding: 25px;
  }
  .testi .boxes .box2 .test-cont h4 {
    color: #1787e0;
    font-size: 22px;
    margin-bottom: 8px;
  }
  .testi .boxes .box2 .test-cont span {
    color: gray;
    font-size: 18px;
  }
  .testi .boxes .box2 .test-cont .stars {
    font-size: 15px;
    margin: 8px 0;
  }
  .testi .boxes .box2 .test-cont .stars .filled {
    color: orange ;
  }
  .testi .boxes .box2 .test-cont p {
    color: gray;
    font-size: 19px;
    line-height: 28px;
  }
  /* //////////////// start testimonials /////////////  */
  /* /////////// start team members ////////////  */
  .team-members{
    padding: 70px 0;
    background-color: #eee;
  }
  .team-members .boxes {
    gap: 30px 70px; 
  }
  .team-members .boxes .box3 {
    background-color: white;
    width: 310px;
    height: 400px;
    position: relative;
    border-radius: 8px;
  }
  @media (max-width :768px) {
    .boxes .box3{
        width: 280px;
        height: fit-content;
        background-color: #eee;
        position: relative;
        right: -8px;
      }
}
.team-members .boxes .box3 img {
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: 8px;
  left: -30px;
  top: 30px;
  transition: 0.3s;
  /* display: none; */
}
.team-members .boxes .box3 img:hover {
  filter: sepia(70%);
}
.team-members ul li {
  padding: 15px;
  width: fit-content;
  color: gray;
  position: relative;
  left: 262px;
  top: 100px;
  transition: 0.3s;
}
.team-members ul li:hover {
  color: #1787e0;
}
.team-members .team-cont {
position: relative;
padding: 20px;
top: 100px;
}
.team-members .team-cont h4 {
  font-size: 23px;
  color: #1787e0;
  margin-top: 15px;
}
.team-members .team-cont p {
  margin: 8px 0;
  color: gray;
  font-size: 18px;
}
  /* /////////// start team members ////////////  */
  /* ///////////// start services //////////  */
  .services {
    padding: 70px 0;
  }
  .services .boxes {
    gap: 40px;
  }
  .services .boxes .box2 {
    background-color: #eee;
    width: 350px;
    height: 250px;
    position: relative;
    box-shadow: 0 5px 5px gray;
    transition: 0.3s;
  }
  .services .boxes .box2:hover {
    margin-top: -10px;
  }
  .serv-cont {
    text-align: center;
    margin-top: 50px;
  }
 .serv-cont i {
  font-size: 80px;
  color: gray;
 }
 .serv-cont h4 {
  color: #1787e0;
  margin: 10px;
  font-size: 30px;
 }
 .serv-foot {
  display: flex;
  justify-content: space-between;
 
  margin-top: 27px;
  background-color: #faf8f8;
 }
 .serv-foot span {
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
  background-color: #1787e0;
  width: 100px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 }
 .serv-foot p {
 padding: 13px;
 font-size: 18px;
  color: #1787e0;
 }
 .serv-foot span:after{
  position: absolute;
  content: '';
  width: 60px;
  height: 50px;
  background-color: rgb(184, 184, 184);
  top: 0;
  left: 80px;
  transform: skewX(-30deg);
 }
  /* ///////////// end services //////////  */

  /* //////////// start skills ///////////  */
 .skills {
  padding: 70px 0;
  background-color: #eee;
 }
 @media (max-width :768px) {
  .skill-cont img {
    display: none;
  }
 }
 .skill-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
 }
 .progres {
  width: 600px;
  height: 30px;
  background-color: white;
  margin: 20px 0;
 }
 .progres span {
  display: block;
  background-color: #1787e0;
  height: 100%;
  position: relative;
 }
 .progres span::after {
  content: attr(data-progress);
  position: absolute;
  color: #1787e0;
  background-color: white;
  border: 1px solid #1787e0;
  padding: 3px;
  border-radius: 8px;
  right: -20px;
  top: -35px;
  }
  .progres span::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid  #1787e0;
  }
 @media (max-width :768px) {
  .progres {
    width: 330px;
    height: 30px;
    background-color: white;
    margin: 20px 0;
   }
 }
  /* //////////// end skills ///////////  */
  /* /////////////// start how it works //////////  */
  .works {
    padding: 70px 0;
  }
  /* /////////////// End how it works //////////  */
